<%= form_with(model: product, local: true) do |form| %>
<% if @product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <section class="col-sm-12 col-md-6 col-lg-5 field">

      <%= form.label :name %><br>
      <%= form.text_field :name %>

      <%= form.label :image_url %><br>
      <%= form.text_field :image_url %>

      <%= form.label :price %><br>
      <%= form.text_field :price %>

    </section>

    <section class="col-sm-12 col-md-6 col-lg-7 field">

      <%= form.label :description %><br>
      <%= form.text_area :description %>

    </section>

  </div>
</div>
</div>
<div class="actions">
  <%= form.submit %>
</div>

<% end %>
</section>
</div>
</div>
