
<% if signed_in? %>
  <h2>Add a review:</h2>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <p>
      <%= f.label :body, "Comments" %><br>
      <%= f.text_area :body %>
    </p><br>
    <div class="rating">
    <p><%= f.label :rating %></p>
    <p><% f.text_field :rating, class: "rating" %></p>
    </div>


    <p><br><br><%= f.submit "Submit" %></p>
  <% end %>
<% end %>
