<!DOCTYPE html>
<html>
<head>
  <title>Vacation destinations</title>
  <%= render 'layouts/rails_default' %>
  <%= render 'layouts/shim' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

</head>


<body>
  <div class="container">
    <%= render 'layouts/nav' %>
    <%= render 'layouts/nav_short-text' %>
  </div>


  <% if notice %>
  <p id="notice" class="alert alert-primary"><%= notice %></p>
  <% end %>


  <%= yield %>
  <footer class="container-fluid footer-section">
    <small>
      KLAD Consulting
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", simple_pages_about_path %></li>
        <li><%= link_to "Contact", simple_pages_contact_path %></li>
        <li><a href="http://news.railstutorial.org/">News</a></li>
      </ul>
    </nav>
  </footer>
  <%= render 'layouts/scripts' %>

</body>
</html>
