<!DOCTYPE html>
<html>
<head>
  <title>Vacation destinations</title>
  <%= render 'layouts/rails_default' %>
  <%= render 'layouts/shim' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

</head>

<body>
  <div class="container">
    <%= render 'layouts/nav' %>
    <%= render 'layouts/nav_short-text' %>
  </div>
  <div class="search-bar">
      <%= form_with(url: products_path, method: 'get', local: true, class: 'search_bar') do |form| %>
    <ol><%= form.submit 'Search', class: 'btn btn-submit btn-sm' %>
        <%= form.text_field :q, id: 'q', value: params[:q], class: 'form-fld' %>
    <% end %>
  </div>
  <% if notice %>
  <p id="notice" class="alert alert-primary"><%= notice %></p>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>
  <%= render 'layouts/scripts' %>

</body>
</html>
